body {
  background-color: lightblue;
}

div {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
}

section {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 150px;
}

ul {
  list-style-type: circle;
}


ol {
  list-style-type: lower-alpha;
}